:root{
  --myred: #F22715;
  --myblue: #4285F4;
}


my-event-listener p {
  margin-top: 20px;
}

.event-listener-main{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
  width: 150px;
  height: 150px;
  border-radius: 10px;
  
  background-color: white;
  box-shadow: 0px 0px 10px gray;  
  color:dimgray;
  
  position: relative;
}

.event-listener-label{
  margin-top: 0;
  position: relative;
  top: 10px;
}



